body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  height: 100vh;
  background: hsl(214, 31%, 95%);
}

.logo {
  fill: #1b1713;
  align-self: center;
}

.recipeList {
    margin: 0;
    height: 100vh;
    overflow-y: auto;
    padding: 15px 10px;
}

.recipeList > li {
  list-style: none;

}

li > a {
  text-decoration: none;
  color: black;
}

 ul img.image {
  width: 100%;
}

.logo-title-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column: 5 / 10;
}

.searchBar {
  grid-column: 5 / 9;
  grid-row: 2;
}

.header-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: max-content 300px;
  padding: 0 10px;
  background: #a1c9ec;
}

.recipe-header {
  font-family: 'Playfair display';
  text-transform: uppercase;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: center;
  background: #a1c9ec;
  padding: 10px 0;
  height: 100vh;

}

.results-subgrid {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 15px;
  padding: 20px;
  background:hsl(214, 31%, 95%);
  height: 100vh;
}

.info-grid {
  grid-column: span 3;
}

.info-card {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: max-content 1fr;
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
  background-color: #FFF;
}

.recipeName {
  font-weight: 700;
  color: hsl(0, 0%, 17%);
}

.main-title {
  text-transform: uppercase;
  font-family: "Playfair display", serif;
  font-size: 50px;
  font-weight: bold;
  color: #1b1713;
}

.navbar {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  justify-content: center;
  padding: 5px 0;
  background: #363636;
}

.navbar > a {
  font-size: 12px;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  font-weight: bold;
  color: #FFF;

}

.two-column {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
}

.form-search {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-self: center;
  border: 1px solid #e0e0e0;
  border-top-color: rgb(224, 224, 224);
  border-right-color: rgb(224, 224, 224);
  border-bottom-color: rgb(224, 224, 224);
  border-left-color: rgb(224, 224, 224);
  border-radius: 4px;
  background-color: #f3f0f0;
  border-color: transparent;
  transition: all 0.1s ease-in-out;
}

.search-bar {
  width: 100%;
  padding: 10px;
  border: none;
  color: black;
  background: none;

}

.search-icon {
  fill: #999;
  padding: 5px;
  height: 25px;
  width: 25px;
  align-self: center;
}

.submit {
  color: #999;
  fill: currentColor;
  background-color: #fff;
  border-color: #ddd;
  padding: 0 20px;
  align-self: center;
  line-height: 30px;

  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  transition: all 0.2s ease-in-out;
  text-align: center;
}


input[type="search"]:focus {
  outline: none;
} 